<div>
  <form [formGroup]="businessPlanForm" (submit)="generateFinanceProspect()">
    <div>
      <label for="ambassadorCount">Numero iniziale Ambasciatori.</label>
      <input formControlName="ambassadorCount" id="ambassadorCount" type="number" placeholder="10">
    </div>
    <div>
      <label for="ambassadorGrowth">Crescita numero ambasciatori mese su mese. 0-100 %</label>
      <input formControlName="ambassadorGrowth" id="ambassadorGrowth" type="number" placeholder="0">
    </div>
    <div>
      <label for="initialTotalLocals">Totale iniziale dei locali.</label>
      <input formControlName="initialTotalLocals" id="initialTotalLocals" type="number" placeholder="0">
    </div>
    <div>
      <label for="newLocalsPerMonthPerAmbassador">Nuovi locali ogni mese da 1 ambasciatore.</label>
      <input formControlName="newLocalsPerMonthPerAmbassador" id="newLocalsPerMonthPerAmbassador" type="number" placeholder="10">
    </div>
    <div>
      <label for="comebackPricePerLocal">Prezzo del servizio ogni locale.</label>
      <input formControlName="comebackPricePerLocal" id="comebackPricePerLocal" type="number" placeholder="49">
    </div>
    <div>
      <label for="feePercentage">Percentuale FEE per ambasciatore. 0-100 %</label>
      <input formControlName="feePercentage" id="feePercentage" type="number" placeholder="50">
    </div>
    <div>
      <label for="feeForMonths">Quanti mesi si prendono la FEE.</label>
      <input formControlName="feeForMonths" id="feeForMonths" type="number" placeholder="6">
    </div>
    <div>
      <label for="initialCostPerLocal">Spese per attivazione del servizio (tipo QR).</label>
      <input formControlName="initialCostPerLocal" id="initialCostPerLocal" type="number" placeholder="25">
    </div>
    <div>
      <label for="bonusPerNewLocalePerAmbassador">Provvigione attivazione locale per 1 ambasciatore.</label>
      <input formControlName="bonusPerNewLocalePerAmbassador" id="bonusPerNewLocalePerAmbassador" type="number" placeholder="100">
    </div>
    <div>
      <label for="freeMonths">Quanti mesi gratis del servizio.</label>
      <input formControlName="freeMonths" id="freeMonths" type="number" placeholder="1">
    </div>
    <div>
      <label for="prospectMonths">Quanti mesi da generare.</label>
      <input formControlName="prospectMonths" id="prospectMonths" type="number" placeholder="12">
    </div>
    <button>genera</button>
  </form>

  <table>
    <tr>
      <td>
        Fine Mese
      </td>
      <td>
        Ambasciatori totali
      </td>
      <td>
        Nuovi locali
      </td>
      <td>
        Totale locali (inclusi nuovi)
      </td>
      <td>
        Fatturato
      </td>
      <td>
        Provvigioni
      </td>
      <td>
        FEE
      </td>
      <td>
        QR
      </td>
      <td>
        Totale spese
      </td>
      <td>
        Resto
      </td>
    </tr>
    <tr *ngFor="let month of prospectData; let idx = index;">
      <td>
        {{ idx + 1 }}
      </td>
      <td>
        {{ month.totalAmbassadors }}
      </td>
      <td>
        {{ month.newLocals }}
      </td>
      <td>
        {{ month.totalLocals }}
      </td>
      <td>
        {{ month.revenue | number:'' }}€
      </td>
      <td>
        {{ month.moneyForBonus | number:'' }}€
      </td>
      <td>
        {{ month.moneyForFees | number:'' }}€
      </td>
      <td>
        {{ month.moneyForQR | number:'' }}€
      </td>
      <td>
        {{ month.totalExpenses | number:'' }}€
      </td>
      <td [attr.class]="month.net < 0 ? 'red' : 'green'">
        {{ month.net | number:'2.' }}€
      </td>
    </tr>
  </table>

</div>